.column {
  
    padding: 5px;
  }
  
  /* Left and right column */
  .column.side {
    width: 22%;
    height: 500px;
    background-color: transparent;
    position: fixed;
      z-index: 1;
      margin-top: 50px;
      overflow-x: hidden;
      padding-top: 20px;
      margin-left: 200px;
      
  
  
  }
  
  
  /* Middle column */
  .column.middle {
    width: 67%;
    float: right;
    height: 500px;
    background-color: transparent;
    margin-top: 50px;
  }
  
  /* Clear floats after the columns */
  .row::after {
    content: "";
    display: table;
    clear: both;
  }
  
  @media screen and (max-width: 600px) {
    .column.side, .column.middle {
      width: 100%;
    }
  }
  

  .card1
  {
    width: 100%;
    height: 480px;
    padding-top: 10px;
    background-color: white;
    font-weight: bold 10px;
    position: sticky;
    border-right: solid 5px #9c0758;
 
  }
  
  
  .btn
  {
    font-size: 20px;
    color: white;
    border-radius: 20px;
    border: 3px solid #000;
    background-color: #9C0758;
    width: 250px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin: 10px;
    font-family: trajan pro, serif;
  }
  
  .active, .btn:hover
  {
    background-color: black;
  }



  /* CARDS */ 


  .card4
  {
    padding-top: 30px;
    width: 90%;
    height: 400px;
    background-color: white;
    border-radius: 30px;
    border: solid 5px #9c0758;
    margin-top: 30px;
  }
  
  .card4 h1
  {
      font-family: trajan pro, serif;
      color: black;
      font-size: 35px;
      line-height: 15px;
      font-weight: bolder;
  
  }
  
  
  
  
  
  .card2
  {
      width: 90%;
      height: 40px;
      background-color: transparent;
      padding: 5px 5px 5px;
      color: black;
      margin-bottom: 5px;
  }
  
  
  
  .card3
  {
      width: 100%;
      height:fit-content;
      text-align: center;
      background-color: transparent;
      margin-top: 10px;
  }
  
  .card3 h3
  {
      font-family: trajan pro, serif;
      color: black;
      font-size: 15px;
      text-align: center;
     
  }
  
  .col1
  {
      width: 100%;
      float: left;
      background-color: transparent;
      
  }
  
  .col1 img{
    position: absolute;
    width: 30px;
  }

  .bi{
    font-size:20px; 
    left:30px; 
    position:absolute; 
    margin-top:10px;
    color:#000;
}
  
  input[type=text], input[type=password], input[type=number], input[type=email]
  {
      width: 450px;
      padding-top: 10px;
      padding-bottom: 5px;
      display: inline-block;
      border-bottom: 3px solid #FF008B;
      box-sizing: border-box;
      border-top: none;
      border-left: none;
      border-right: none;
      font-size: 20px;
      color: black;
      background-color: transparent;
      text-align: left;
      font-family: trajan pro, serif;
      font-weight: bolder;
  }
  
  
  ::placeholder 
  {
      color: black;
      font-family: trajan pro, serif;
      font-size: 20px;
      font-weight:bolder;
  }
  
  
  
  
  
  
  /* BUTTON */
  .accessreg
  {
    border-radius: 25px;
    background-color: #9C0758;
    color: white;
    padding: 5px;
    cursor: pointer;
    font-family: trajan pro, serif;
    font-size: 30px;
    width: 350px;
    height: 45px;
    margin-left: 20px;
    margin-right: 60px;
  }
  