/* VERSION 3 */

@import url('https://fonts.cdnfonts.com/css/trajan-pro');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;1,300&display=swap');
/* BODY */
body 
{
  margin: 0;
  font-family: 'Lato', sans-serif;
  color: white;
  background-image: url(../IMAGES/BG.png);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

/* HEADER */
.header 
{
  overflow: hidden;
  background: linear-gradient(180deg, #7A0042 0%, rgba(255, 0, 168, 0.00) 100%);    
}
  
.header a 
{
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding-top: 15px;
  text-decoration: none;
  font-size: 17px;
  height: 100px;
}
  
.header .icon 
{
  display: none;
}
  
@media screen and (max-width: 600px) 
{
  .header a:not(:first-child) 
  {
    display: none;
  }
  .header a.icon 
  {
    float: right;
    display: block;
  }
}
  
@media screen and (max-width: 600px) {
  .header.responsive 
  {
    position: relative;
  }
  .header.responsive .icon 
  {
    position: absolute;
    right: 0;
    top: 0;
  }
  .header.responsive a 
  {
    float: none;
    display: block;
    text-align: left;
  }
}

/*loader*/
.loader {
  background-color: rgba(255,255,255,0.1);
  z-index: 5;
display: inline-block;
position: absolute;
width: 100%;
height: 100vh;
transition: opacity 0.75s, visibility 0.75s;
}
.loader-hidden{
  display: none;
  opacity: 0;
  visibility: 0;
}
.loader div {
  margin:0;
  padding:0;
  top:47%;
  left:47%;
  align-items: center;
  box-sizing: border-box;
  display: block;
  position: fixed;
  width: 64px;
  height: 64px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: loader 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #ff726f transparent transparent transparent;
}
.loader div:nth-child(1) {
animation-delay: -0.45s;
}
.loader div:nth-child(2) {
animation-delay: -0.3s;
}
.loader div:nth-child(3) {
animation-delay: -0.15s;
}
@keyframes loader {
0% {
  transform: rotate(0deg);
}
100% {
  transform: rotate(360deg);
}
}

/* CARDS */ 


.card1
{
  width: 800px;
  height: 480px;
  padding: 20px 20px 20px;
  padding-top: 10px;
  border-radius: 25px;
  border: 5px solid #000;
  background: linear-gradient(180deg, rgba(156, 7, 88, 0.20) 0%, rgba(156, 7, 88, 0.20) 50.01%, rgba(156, 7, 88, 0.20) 100%);
  backdrop-filter: blur(5px);
  font-weight: bold 10px;
}

.card1 h1
{
    font-family: trajan pro, serif;
    color: white;
    font-size: 30px;
    line-height: 15px;
    font-weight: bolder;
}





.card2
{
    width: 90%;
    height: 35px;
    background-color: transparent;
    padding: 5px 5px 5px;
    color: white;
    
}



.card3
{
    width: 100%;
    height:fit-content;
    text-align: center;
    background-color: transparent;
    margin-top: 10px;
}

.card3 h3
{
    font-family: trajan pro, serif;
    color: white;
    font-size: 15px;
    text-align: center;
   
}
.card3 h3 a:hover{
  color:#fff;
}
.col1
{
    width: 50%;
    float: left;
    background-color: transparent;

}

.col2
{
    width: 50%;
    float: left;
    background-color: transparent;
    
}

.col3
{
    width: 100%;
    float: left;
    background-color: transparent;
    
}
.col3 img{
    margin-top: 5px;
    right: 0;
    margin-right: 15%;
    position: absolute;
    width: 30px;
}
select{
  cursor: pointer;
}

input[type=text], input[type=password], input[type=number], input[type=email], select
{
    width: 660px;
    padding-top: 10px;
    padding-bottom: 5px;
    border-top: none;
    display: inline-block;
    border-bottom: 3px solid white;
    box-sizing: border-box;
    border-top: none;
    border-left: none;
    border-right: none;
    font-size: 15px;
    color: white;
    background-color: transparent;
    text-align: left;
    font-family: trajan pro, serif;
    font-weight: bolder;
}

option
{
    color: black;
    border-style: none;
}

::placeholder 
{
    color: white;
    font-family: trajan pro, serif;
    font-size: 15px;
    font-weight:bolder;
}

::placeholder select
{
    color: black;
    font-family: trajan pro, serif;
    font-size: 15px;
    font-weight:bolder;

}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


/* MODAL */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
  
.modal-content 
{
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #e57eb5;
    width: 80%;
    height: 300px;
    color: black
}
  
.close 
{
    color: #e57eb5;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover,
.close:focus 
{
    color: #9c0758;
    text-decoration: none;
    cursor: pointer;
}


/* BUTTON */
.register
{
 
  border-radius: 25px;
  background-color: #9C0758;
  color: white;
  padding: 5px;
  cursor: pointer;
  font-family: trajan pro, serif;
  font-size: 25px;
  width: 300px;
  height: 40px;
  margin-left: 20px;
  margin-right: 60px;
  transition: all 0.4s ease 0s;
  
}
.register:hover{
  color: #9C0758;
  background: #fafafa;
  letter-spacing: 1px;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(255, 255, 255, 0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(255, 255, 255, 0.57);
  box-shadow: 5px 40px -10px rgba(255, 255, 255, 0.57);
  transition: all 0.4s ease 0s;
}
.is-invalid {
  border-color: red;
  box-shadow: 0 0 0 0.2rem rgba(255, 0, 0, 0.25);
}