/* VERSION 1 */

@import url('https://fonts.cdnfonts.com/css/trajan-pro');

                
* {
	box-sizing: border-box;
	
}

/* BODY */
body 
{
  margin: 0;                    
	color: white;
	background-image: url(../IMAGES/BACKGROUND.png);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: trajan pro, serif;
}

/* NAVIGATION BAR */
.navbar 
{
  width: 100%;
 background-image: url("../IMAGES/HEADER.png");
 background-size: cover;
  font-size: 20px;
  color: black;
}


.navbar-links 
{
  height: 100%;
  margin-left: 0px;
  margin-right: 0px;
  float: center;
  width: 100%;
    
}

.navbar-links ul 
{
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-links li 
{
  list-style: none;
  float: center;
  width: fit-content;   
  height: 100px;
  padding-top: 20px;
}

.navbar-links li a 
{
  display: block;
  text-decoration: none;
  color: black;
  padding: 1rem;
  text-shadow: 3px 3px 5px gray;
}

.navbar-links li:hover 
{
  text-decoration-style: solid;
  text-decoration-thickness: 3px;
  text-decoration: underline 5px solid #9c0758;
  background-color: transparent;
}

.toggle-button 
{
  position: absolute;
  top: .75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar 
{
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}


/* NAVIGATION BAR - RESPONSIVE */
@media (max-width: 1000px) 
{
  .navbar 
  {
    flex-direction: column;
    align-items: flex-start;
    overflow: hidden;
    font-size: 15px;
  }

  .toggle-button 
  {
    display: flex;
    margin-top: 120px;
  }

  .navbar-links 
  {
    display: none;
    width: 100%;
    text-align: center;
  }

  .navbar-links ul 
  {
    width: 100%;
    flex-direction: column;
  }

  .navbar-links ul li 
  {
    text-align: center;
    width: 100%;
  }

  .navbar-links ul li a 
  {
    padding: .5rem 1rem;
    text-align: center;     
  }

  .navbar-links.active 
  {
    display: flex;
  }
}


/* COLUMN */
.column
{
  width: 100%;
  height: 800px;
  background-color: transparent;
}

/* CARD */
.card
{
  width: 40%;
  height: 600px;
  padding: 20px 20px 20px;
  border-radius: 10px;
  border: solid 5px #9c0758;
  background: rgba(255, 255, 255, 0.192);
  backdrop-filter: blur(10px);
  font-weight: bold 10px;
}

.card h1
{
    font-family: trajan pro, serif;
    color: black;
    font-size: 35px;
    line-height: 30px;
}

.card h2
{
    font-family: trajan pro, serif;
    color: black;
    font-size: 20px;
    text-align: center;
    line-height: 3px;
}

.card h3
{
  font-size: 15px;
  text-align: left;
  color: black;
}



.card2
{
    width: 90%;
    height: 100px;
    background-color: transparent;
}

.card3
{
    width: 90%;
    height:100px;
    text-align: left;
    background-color: transparent;
}

.card3 img{
  width: 25px;
  cursor: pointer;
  margin-top: -38px;
  position: absolute;
  right: 80px;
}
.card3 h4
{
  text-align: center;
  color: black;
}



input[type=text], input[type=password], input[type=email]
{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 10px;
    position: static;
}

input[type=password]
{
  width: 100%;
}




button 
{
    background-color: #9c0758;
    color: white;
    padding: 10px 60px;
    border: transparent;
    border-radius: 10px;
    cursor: pointer;
    width: fit-content;
    opacity: 0.9;
    font-size: 25px;
    font-family: trajan pro, serif;

}
  
button:hover 
{
    opacity:1;
}

span.psw 
{
    float: center;
    padding-top: 16px;
}


