/* VERSION 1 */

@import url('https://fonts.cdnfonts.com/css/trajan-pro');

                
* {
	box-sizing: border-box;
	
}


/* BODY */
body 
{
  margin: 0;                    
	color: white;
	background-image: url(../IMAGES/BACKGROUND.png);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: trajan pro, serif;
}


/* HEADER */
.header 
{
  overflow: hidden;
  background-image: url(../IMAGES/HEADER.png);
  background-size: cover;
  text-align: center;
  padding: 10px 20px;
  padding-top: 5px;
  position: relative;
}

.header a 
{
  display: block;
}

.header:hover
{
  background-color: pink;
}


/* NAVIGATION BAR */
.navbar 
{
  width: 100%;
  background-color: transparent;
  font-size: 25px;
  color: black;
}


.navbar-links 
{
  height: 100%;
  margin-left: 0px;
  margin-right: 0px;
  float: center;
  width: 100%;
    
}

.navbar-links ul 
{
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-links li 
{
  list-style: none;
  float: center;
  width: 20%;   
}

.navbar-links li a 
{
  display: block;
  text-decoration: none;
  color: black;
  padding: 1rem;
  text-shadow: 3px 3px 5px gray;
}

.navbar-links li:hover 
{
  text-decoration-style: solid;
  text-decoration-thickness: 3px;
  background-color: #e57eb5;
}

.toggle-button 
{
  position: absolute;
  top: .75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar 
{
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}


/* NAVIGATION BAR - RESPONSIVE */
@media (max-width: 1000px) 
{
  .navbar 
  {
    flex-direction: column;
    align-items: flex-start;
    overflow: hidden;
    font-size: 15px;
  }

  .toggle-button 
  {
    display: flex;
    margin-top: 120px;
  }

  .navbar-links 
  {
    display: none;
    width: 100%;
    text-align: center;
  }

  .navbar-links ul 
  {
    width: 100%;
    flex-direction: column;
  }

  .navbar-links ul li 
  {
    text-align: center;
    width: 100%;
  }

  .navbar-links ul li a 
  {
    padding: .5rem 1rem;
    text-align: center;     
  }

  .navbar-links.active 
  {
    display: flex;
  }
}


/* COLUMN */
.column
{
  width: 100%;
  height: 1000px;
  background-color: transparent;
}


/* CARD */
.card1
{
  width: 60%;
  height: 1050px;
  padding: 20px 20px 20px;
  border-radius: 10px;
  border: solid 5px #9c0758;
  background: rgba(255, 255, 255, 0.192);
  backdrop-filter: blur(10px);
  font-weight: bold 10px;
}

.card1 h1
{
    font-family: trajan pro, serif;
    color: black;
    font-size: 35px;
    line-height: 30px;
    font-weight: 50px;
}

.card1 h2
{
    font-family: trajan pro, serif;
    color: black;
    font-size: 20px;
    text-align: left;
    line-height: 10px;
}

.card2
{
    width: 90%;
    height: fit-content;
    background-color: white;
    margin-bottom: 10px;

}



.card3
{
    width: 100%;
    margin-top: 15px;
    height:fit-content;
    text-align: center;
    background-color: pink;
}

.card3 h3
{
    font-family: trajan pro, serif;
    color: black;
    font-size: 15px;
    text-align: center;
    line-height: 10px;
}

.col1
{
    width: 90%;
    float: left;
    
}

.col2
{
    width: 100%;
    float: left;
    background-color: transparent;
    
}

input[type=text], input[type=password], input[type=number], input[type=tel], select
{
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 10px;
    
    
}

input[type=password]
{
  width: 65%;
}

input[type=number]
{
  width: 60%;
}

button 
{
    background-color: #9c0758;
    color: white;
    padding: 14px 20px;
    border: transparent;
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    font-size: 25px;
}
  
button:hover 
{
    opacity:1;
}

.signupbtn 
{
    float: center;
    width: fit-content;
    font-family: trajan pro, serif;
}


/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #e57eb5;
  width: 80%;
  height: 300px;
  color: black
}

/* The Close Button */
.close {
  color: #e57eb5;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #9c0758;
  text-decoration: none;
  cursor: pointer;
}

.error-message {
  color: black;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
  padding: 10px;
  background-color: #ffdddd;
  border: 1px solid #ff0000;
  border-radius: 5px;
  position: fixed;
   top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
}
