.column {
  
    padding: 5px;
  }
  
  /* Left and right column */
  .column.side {
    width: 22%;
    float: left;
    height: 1000px;
    background-color: blue;
    position: fixed;
      z-index: 1;
      margin-top: 30px;
      overflow-x: hidden;
      padding-top: 20px;
      
  
  
  }
  
  
  /* Middle column */
  .column.middle {
    width: 67%;
    float: right;
    height: 1500px;
    background-color: blueviolet;
    margin-top: 50px;
  }
  
  /* Clear floats after the columns */
  .row::after {
    content: "";
    display: table;
    clear: both;
  }
  
  @media screen and (max-width: 600px) {
    .column.side, .column.middle {
      width: 100%;
    }
  }
  
  .card1
  {
    background-color: pink;
    height: fit-content;
    width: fit-content;
    
  }
  
  .card1 a
  {
    text-align: center;
      margin-bottom: 15px;
      font-size: 17px;
      color: black;
      display: block;
      background-color: transparent;
      text-decoration: none;
  }

  .card2
  {
    width: 100%;
    height: 1500px;
    background-color: white;
    border-radius: 30px;
    border: solid 5px #9c0758;
  }
  
  .card2 h1
  {
    font-size: 25px;
    color: black;
    text-align: center;
    padding-top: 5px;
  }

  .card3
  {
    width: 95%;
    height: 300px;
    background-color: aquamarine;
    padding: 5px 5px 5px;
    margin-left: 20px;
    color: black;
  }
  
  .card3 h2
  {
    font-size: 20px;
    color: black;
    text-align: left;
    margin-bottom: 0px;
  }

  .card3 h3
  {
    font-size: 15px;
    color: black;
    text-align: left;
    margin-bottom: 0px;
  }

  .card4
  {
    width: 95%;
    height: 70px;
    background-color: aquamarine;
    padding: 5px 5px 5px;
    margin-left: 20px;
    color: black;
  }
  
  .card4 h4
  {
    font-size: 20px;
    color: black;
    text-align: left;
    margin-bottom: 0px;
  }

  .card5
  {
    width: 95%;
    height: 50px;
    background-color: aquamarine;
    padding: 5px 5px 5px;
    margin-left: 20px;
    color: black;
  }

  .col1
{
    width: 50%;
    float: left;
    background-color: palegreen;

}

.col2
{
    width: 50%;
    float: left;
    background-color: pink;
    
}

.col3
{
    width: 100%;
    float: left;
    background-color: wheat;
    
}
.card4 input[type=text], input[type=number]
{

  padding: 10px;
  border: 1.5px solid #9C0758;
  background: white;
  border-radius: 4px;
  width: 80%;
  font-size: 10px;
  
}

.card5 input[type=text]
{

  padding: 10px;
  border: 1.5px solid #9C0758;
  background: white;
  border-radius: 4px;
  width: 80%;
  font-size: 10px;
  
}
table, th, td 
{
    border:1px solid black;
    color: black;
    font-size: 25px;
    font-family: trajan pro, serif;
    text-align: center;
}

input[type=text], input[type=ratio], input[type=number], select
{
    width: 50%;
    padding: 12px 20px;
    margin: 5px 0;
    display: inline-block;
    border: none;
    box-sizing: border-box;

    font-size: 15px;
    color:rgb(37, 32, 32);
}
