/* VERSION 3 */

@import url('https://fonts.cdnfonts.com/css/trajan-pro');

/* BODY */
body 
{
  margin: 0;
  font-family: trajan pro, serif;
  color: white;
  background-color: white;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}


/* SIDENAV */
.sidenav {
    height: 100%;
    width: 300px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #9c0758;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  .sidenav a {
    text-align: center;
    margin-bottom: 13px;
    font-size: 25px;
    color: white;
    display: block;
    background-color: transparent;
    text-decoration: none;
    margin-left: 15px;
    margin-right: 15px;
    padding: 5px;
  }

  .noHover {
    pointer-events: none;
  }

  .sidenav a:hover {
    border-radius: 20px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.25) 0%, rgba(156, 7, 88, 0.50) 100%);
  }

  .sidenav a.active {
    border-radius: 20px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.25) 0%, rgba(156, 7, 88, 0.50) 100%);
  }
  
  .main {
    margin-left: 300px; /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
  
    color:#111;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }


/* TOPNAV */
  #navbar {
  
    background-color: white;
    height: 90px;
    width: 100%;
    border-bottom: solid 5px #9c0758;
    margin-right: 5px;
    margin-left: 5px;
  }
  
  #navbar a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding-top: 30px;
    text-decoration: none;
    font-size: 35px;
  }
  
  #navbar a:hover {
    background-color: transparent;
    color: black;
  }
  

  
  .content {
    padding: 16px;
    color: black;
  }
  
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .sticky + .content {
    padding-top: 60px;
  }


/* SEARCHBAR */ 
formsearch input[type=text] 
{
  padding: 10px;
  font-size: 15px;
  margin-left: 0px;
  border: 2px solid #9c0758;
  float: left;
  width: 200px;
  height: 26px;
  background: #f1f1f1;
  font-family: trajan pro, serif;
  text-align: center;
}
  
formsearch button 
{
  float: left;
  width: 50px;
  height: 50px;
  padding: 10px;
  background: #e57eb5;
  color: white;
  font-size: 25px;
  border: 2px solid #9c0758;
  font-family: trajan pro, serif;
  border-left: none;
  cursor: pointer;
}
  
formsearch button:hover 
{
  background: #ec44a1;
}
  
formsearch::after 
{
  content: "";
  clear: both;
  display: table;
}

