/* VERSION 3 */

@import url('https://fonts.cdnfonts.com/css/trajan-pro');

/* BODY */
body 
{
  margin: 0;
  font-family: trajan pro, serif;
  color: white;
  background-image: url(../IMAGES/BG.png);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

/* HEADER */
.header 
{
  overflow: hidden;
  background: linear-gradient(180deg, #7A0042 0%, rgba(255, 0, 168, 0.00) 100%);    
}
  
.header a 
{
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding-top: 15px;
  text-decoration: none;
  font-size: 17px;
  height: 100px;
}
  
.header .icon 
{
  display: none;
}
  
@media screen and (max-width: 600px) 
{
  .header a:not(:first-child) 
  {
    display: none;
  }
  .header a.icon 
  {
    float: right;
    display: block;
  }
}
  
@media screen and (max-width: 600px) {
  .header.responsive 
  {
    position: relative;
  }
  .header.responsive .icon 
  {
    position: absolute;
    right: 0;
    top: 0;
  }
  .header.responsive a 
  {
    float: none;
    display: block;
    text-align: left;
  }
}




/* CARDS */ 


.card1
{
  width: 800px;
  height: 350px;
  padding: 20px 20px 20px;
  padding-top: 20px;
  border-radius: 25px;
  border: 5px solid #000;
  /* background: linear-gradient(180deg, rgba(156, 7, 88, 0.20) 0%, rgba(156, 7, 88, 0.20) 50.01%, rgba(156, 7, 88, 0.20) 100%); */
  background-color: white;
  backdrop-filter: blur(0px);
  font-weight: bold 10px;
}

.card1 h1
{
    font-family: trajan pro, serif;
    color: black;
    font-size: 35px;
    line-height: 15px;
    font-weight: bolder;

}





.card2
{
    width: 90%;
    height: 40px;
    background-color: transparent;
    padding: 5px 5px 5px;
    color: black;
    margin-bottom: 5px;
}



.card3
{
    width: 100%;
    height:fit-content;
    text-align: center;
    background-color: transparent;
    margin-top: 10px;
}

.card3 h3
{
    font-family: trajan pro, serif;
    color: black;
    font-size: 15px;
    text-align: center;
   
}

.col1
{
    width: 100%;
    float: left;
    background-color: transparent;
    
}

.col1 img{
  position: absolute;
  width: 30px;
}

input[type=text], input[type=password], input[type=number], input[type=email]
{
    width: 650px;
    padding-top: 10px;
    padding-bottom: 5px;
    display: inline-block;
    border-bottom: 3px solid #FF008B;
    box-sizing: border-box;
    border-top: none;
    border-left: none;
    border-right: none;
    font-size: 20px;
    color: black;
    background-color: transparent;
    text-align: left;
    font-family: trajan pro, serif;
    font-weight: bolder;
}


::placeholder 
{
    color: black;
    font-family: trajan pro, serif;
    font-size: 20px;
    font-weight:bolder;
}






/* BUTTON */
.access
{
  border-radius: 25px;
  background-color: #9C0758;
  color: white;
  padding: 5px;
  cursor: pointer;
  font-family: trajan pro, serif;
  font-size: 30px;
  width: 300px;
  height: 45px;
  margin-left: 20px;
  margin-right: 60px;
}

