/* BODY */
body 
{
  margin: 0; 
  padding: 0;                  
	color: white;
	background-image: url(../IMAGES/BACKGROUND.png);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: trajan pro, serif;
}

/* Style the navbar */
#navbar {
    overflow: hidden;
    background-image: url(../IMAGES/HEADER.png);
    background-size: cover;

    height: 120px;
    
  }
  
  /* Navbar links */
  #navbar a {
    float: left;
    display: block;
    color: black;
    text-align: right;
    font-size: 25px;
    text-decoration: none;
    padding-top: 35px;
    width: fit-content;
    padding-right: 40px;
  }
  
  /* Page content */
  .content {
    padding: 16px;
  }
  
  /* The sticky class is added to the navbar with JS when it reaches its scroll position */
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  /* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
  .sticky + .content {
    padding-top: 60px;
  }
  /*start of form*/
  .main{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    min-height: 100vh;
  }
  input[type=text], input[type=tel], input[type=number], input[type=date],input[type=email], select
{
    width: 60%;
    padding: 12px 20px;
    margin: 5px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 10px;
    font-size: 15px;
    color:rgb(37, 32, 32);
    
    
}
  .update-profile{
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .update-profile form{
    width: 700px;
    text-align: center;
    padding: 20px;
    box-shadow: var(box-shadow);
    border-radius: 5px;
  }
  .update-profile img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: center;
    margin-bottom: 5px;
  }
  .update-profile form .flex{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    gap: 15px;
  }
  .update-profile form .flex .inputBox{
    width: 49%;
  }
  .update-profile form .flex .inputBox span{
    text-align: left;
    display: block;
    margin-top: 15px;
    font-size: 15px;    
  }
  .update-profile .submit-btn{
    margin-left: 30px;
    background-color: #9c0758;
    color: white;
    padding: 14px 20px;
    border: transparent;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
    width: 40%;
    opacity: 0.9;
    font-size: 25px;
    font-family: trajan pro, serif;
    margin-top: 40px;
  }
  .update-profile .submit-btn:hover{
    opacity: 1;
  }