


.card1
{
    width: 70%;
    height: fit-content;
    background-color: transparent;
    margin-left: 350px;
}

.card2
{
    
    height: 50px;
    background-color: white;
    margin-bottom: 10px;
}

.card3
{
    height: fit-content;
    background-color: white;
}

.card4
{
    width: 95%;
    height: 1700px;
    background-color: transparent;
    margin: 20px;
    border: solid 5px #7A0042;
}



.card5
{
    height: 900px;
    background-color: white;
    border: solid 5px black;
    margin-top: 20px;
    padding: 20px;
}

.card5 h1
{
    font-size: 30px;
    text-align: center;
}

.card5 h2
{
    font-size: 20px;
    text-align: center;
}

.card5 h3
{
    font-size: 20px;
    text-align: left;
    padding-left: 20px;
}


.wrapper{
    width: 95%;
    margin: 10px;
    background-color: transparent;
}
table tr td:first-child{
    width: 50px;
}

table tr td:last-child{
    width: 100px;
}

.col1
{
    width: 50%;
    float: left;
    background-color: transparent;
    margin-bottom: 10px;
    padding-left: 20px;
}

.col2
{
    width: 50%;
    float: left;
    background-color: transparent;
    margin-bottom: 10px;
    padding-left: 20px;
}

.col3
{
    width: 100%;
    float: left;
    background-color: transparent;
    margin-bottom: 10px;
}

.col4
{
    width: 50%;
    float: left;
    background-color: transparent;
    margin-bottom: 10px;
    
}

.col5
{
    width: 50%;
    float: left;
    background-color: transparent;
    margin-bottom: 10px;
    padding-left: 20px;
}

