.card1
{
    width: 500px;
    background-color: pink;
    height: 250px;
    margin-top: 25px;
}

.card2
{
    width: 100%px;
    height: 1500px;
    background-color: antiquewhite;
    border-radius: 25px;
    border: solid 5px #9c0758;
    margin: 50px;
}

.card3A
{
  width: 90%;
  height: 70px;
  background-color: aquamarine;
  padding: 5px 5px 5px;
  margin-left: 20px;
  color: black;
 
}

.card3 h2
{
  font-size: 25px;
  color: black;
  text-align: left;
  margin-bottom: 0px;
}

.col1
{
    width: 50%;
    float: left;
    background-color: palegreen;
    margin-left: 30px;
}

.col2
{
    width: 45%;
    float: left;
    background-color: pink;
    margin-right: 30px;
}

.col3
{
    width: 95%;
    float: left;
    background-color: wheat;
    margin-left: 30px;
    margin-right: 30px;
}

input[type=text], input[type=number]
{
  height: 20px;
  padding: 10px;
  border: 1.5px solid #9C0758;
  background: white;
  border-radius: 4px;
  width: 80%;
  font-size: 15px;
  
}

select
{

  padding: 10px;
  border: 1.5px solid #9C0758;
  background: white;
  border-radius: 4px;
  width: 80%;
  font-size: 15px;
   
}